mixin ings(pic,textCh)
    div(class="ings")
        img(src="imgs/" + pic + ".jpg", alt="REAL")
        P=textCh


<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title REAL．真 烘焙坊
        link(rel="stylesheet", href="style.css")
    body
        div(id="banner")
            nav
                a(href="real.html" class="relogo")
                    img(src="imgs/logo.png", alt="REAL LOGO" class="logo")
                div(class="link")
                    a(href="#") 品牌故事
                    a(href="#") 所有商品
                    a(href="#") 美味據點
            
        section(id="ing")
            +ings("butter","sjlfkjeifj")
            +ings("milk","sjlfkjeifj")
            +ings("handmake","sjlfkjeifj")
    footer
        nav
            div(id="copy") Copyright &copy; 2019  REAL 真. All rights reserved

