$color-main: #0f4876;

* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
}

.relogo {
    display: block;
    text-align: center;
    width: 100%;

    
} 

.link {
    float: center;
    padding: 20px 0;
    text-align: center;
    
    
    a {
        text-decoration: none;
        padding: 5px 15px;
        color: $color-main;
        
    }
}


// 產品區塊
.ing {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    padding: 30px;
    width: 100%;
    margin: 0 auto;
    
    
}



// footer
footer {
    background-color: black;
    color: #fff;
    margin-top: 100px;
}
footer #copy {
    padding-top: 50px;
    font-size: 0.5em;
    text-align: center;
}

